header, nav, main, footer {

    display: block;
    width: 1078px;

}

body {

    color: #ffffff;
    background-color: #000000;
    margin: 0px;
    text-align: center;

}

header {

    position:relative;
    background-color:rgb(107, 27, 27);
    height: 150px;
    

}


nav {

    background-color:rgb(138, 122, 32);
    height: 100px;
}


main {

    background-color:rgba(31, 116, 88, 0.57);
    height: auto;
    overflow:hidden;
}


footer {

    background-color:rgb(25, 55, 116);
    height: 100px;
    clear: both;
}

#col-left {
    background-color:#491c6d;
    width: 200px;
    height: 200px;
    float: left;
}

#col-center {
    background-color:#103e28;
    height: 200px;
}

#container {
    position: relative;
    margin: auto;
    width: 1078px;
    height: auto;
    overflow: hidden;
    border: 1px solid #ffffff;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 100px;
    border: 2px dotted #610808;
}

img {
    height:100px;
    width: 200px;
}

td, table{
    border: 1px solid rgb(255, 255, 255);
    border-collapse: collapse;
    text-align: left;
    
}

table {
    height: 200px;
    width: 600px;
}

.nag {
    background-color: rgb(26, 26, 25);
}

tbody tr:nth-child(odd) {
    background-color: #6d6c6c;  /* biały lub jasny kolor */
  }

tbody tr:nth-child(even) {
    background-color: #343336;  /* delikatnie szary dla paskowania */
  }